* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #163d11cb;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.main-container {
    max-width: 800px;
    width: 100%;
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

p {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
    color: #61e952ab;
}

.cep-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.cep-container input[type="text"] {
    width: 80px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #48d1cc;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    outline: none;
    margin: 0;
    height: 40px;
}

.cep-container button {
    background-color: #48d1cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px;
    width: auto;
}

.cep-container button:hover {
    background-color: #37a69b;
}

.plano-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    justify-items: center;
    padding: 20px;
}

.plano-item {
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #3c9e31;
    width: 100%;
    max-width: 220px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.plano-item h3 {
    color: #d6dfd5;
    font-size: 18px;
}

.plano-item img {
    max-width: 100%;
    height: auto;
}

.plano-item button {
    width: 100%;
    padding: 8px;
    background-color: #48d1cc;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.plano-item button:hover {
    background-color: #37a69b;
}

.carrinho-container {
    margin-bottom: 20px;
}

.carrinho-cabecalho {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #222;
    color: #48d1cc;
    font-weight: bold;
    padding: 10px;
}

.carrinho-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    border-bottom: 1px solid #444;
}

.carrinho-total {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    font-weight: bold;
    border-top: 1px solid #444;
    background-color: #333;
    color: #48d1cc;
}

.metodos-pagamento-container {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.metodos-pagamento-container h2 {
    color: #61e952ab;
    text-align: center;
    margin-bottom: 20px;
}

.radio-group {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.radio-group label {
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.radio-group input[type="radio"] {
    margin-right: 10px;
}

.form-group {
    display: none;
}

.form-group.active {
    display: block;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #48d1cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

button:hover {
    background-color: #37a69b;
}

.form-cartao select {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #48d1cc;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    margin-bottom: 10px;
}

.form-cartao input[type="text"] {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #48d1cc;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    outline: none;
    margin-bottom: 10px;
}

.form-cartao input[type="text"]::placeholder {
    color: #888;
}

.metodos-pagamento-container button.confirmar-pagamento {
    background-color: #48d1cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.metodos-pagamento-container button.confirmar-pagamento:hover {
    background-color: #37a69b;
}

.form-group.active + .confirmar-pagamento {
    display: block;
}

.confirmar-pagamento {
    display: none;
}
